<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="magento"  thread-count="1" >

    <test name="Groups">
<!--        <groups>-->
<!--            <run><include name="negative"/></run>-->
<!--        </groups>-->
        <classes>
            <class name="Tests.AllTests"/>
        </classes>

    </test>
</suite>

